<style>
    .goodybag {
        background: #fff;
    }

    .goodybag-control {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #ddd;
        margin: 10px 25px 0;
    }

    .goodybag-pager {
        margin-right: 24px;
        text-align: right;
    }
</style>
<div class="goodybag panel">
    <ol class="breadcrumb">
        <li><a data-link="/game/index.htm?currentPage=1" href="javascript:void(0)">Game</a></li>
        <li class="active">GoodyBag</li>
    </ol>
    <div class="goodybag-control">
        <button id="new" class="btn btn-primary">New</button>
    </div>
    <div class="goodybag-data">
        <input id="gameId" type="hidden" value="{{gameId}}">
        <div id="panelBody" class="panel-body">
            {{#if rows.length}}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>description</th>
                        <th>operate area</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.description}}</td>
                            <td>
                                <a class="panel-operate-detail" data-id="{{this.id}}" href="javascript:void(0)">Detail</a>
                                <a class="panel-operate-modify" data-id="{{this.id}}" href="javascript:void(0)">Modify</a>
                                <a class="panel-operate-remove" data-id="{{this.id}}" href="javascript:void(0)">Remove</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>
    </div>
    <div class="goodybag-pager">
        <input id="currentPage" type="hidden" value="{{currentPage}}" />
        <input id="totalPages" type="hidden" value="{{totalPages}}" />
        <input id="pageSize" type="hidden" value="{{pageSize}}" />
        <input id="numberOfPages" type="hidden" value="{{numberOfPages}}" />
        <div id="paging"></div>
    </div>
</div>
<script>
    var goodyBagPageCache = {
        api: {
            deleteGoodyBag: '/api/goodybag'
        },
        linkUrl: {
            goGame: '/game/index.htm',
            goGoodyBagNew: '/goodybag/new.htm',
            goGoodyBagDetail: '/goodybag/detail.htm',
            goGoodyBagModify: '/goodybag/modify.htm',
            goGoodyBag: '/goodybag/index.htm'
        }
    };

    var goodyBagPage = {
        init: function() {
            this.initData();
            this.initPage();
            this.initEvent();
            this.initComponent();
        },
        initData: function() {
        },
        initPage: function() {
        },
        initEvent: function() {
            this.addClickNewBtnEvent();
            this.addClickRemoveBtnEvent();
            this.addClickDetailBtnEvent();
        },
        initComponent: function() {
            paginatorCpn.init({
                currentPage: $('#currentPage').val(),
                totalPages: $('#totalPages').val(),
                numberOfPages: $('#numberOfPages').val(),
                size:'normal',
                alignment:'right',
                wrapperId: 'paging',
                onPageClicked: function(event, originalEvent, type, page) {
                    getHtml(goodyBagPageCache.linkUrl.goGame + '?currentPage=' + page + '&gameid=' + $('#gameId').val(), 'mainContent');
                }
            });
        },
        addClickNewBtnEvent: function() {
            $('#new').click(function() {
                getHtml(goodyBagPageCache.linkUrl.goGoodyBagNew + '?gameid=' + $('#gameId').val(), 'mainContent');
            });
        },
        addClickRemoveBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-remove').on('click', '.panel-operate-remove', function() {
                var bool = confirm('确定要删除？');
                var id = $(this).attr('data-id');

                if (bool) {
                    getJson({
                        type: 'delete',
                        url: goodyBagPageCache.api.deleteGoodyBag + '/' + id,
                        done: function(data) {
                            if (data.success) {
                                toastr.success('删除成功！');
                                getHtml(indexPageCache.linkUrl.goGoodyBag + '?gameid=' + $('#gameId').val(), 'mainContent');
                            } else {
                                toastr.error('删除失败！');
                            }
                        }
                    });
                }
            });
        },
        addClickDetailBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-detail').on('click', '.panel-operate-detail', function() {
                var id = $(this).attr('data-id');
                getHtml(goodyBagPageCache.linkUrl.goGoodyBagDetail + '?goodybagid=' + id + '&gameid=' + $('#gameId').val(), 'mainContent');
            });
        },
        addClickModifyBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-modify').on('click', '.panel-operate-modify', function() {
                var id = $(this).attr('data-id');
                getHtml(indexPageCache.linkUrl.goGoodyBagModify + '?goodybagid=' + id, 'mainContent');
            });
        }
    };

    var paginatorCpn = {
        cache: null,
        init: function(option) {
            this.initData(option);
            this.initPage();
            this.initEvent();
        },
        initData: function(option) {
            this.storeCache(option);
        },
        initPage: function() {
            this.renderPaginator();
        },
        initEvent: function() {

        },
        storeCache: function(option) {
            this.cache = option;
        },
        renderPaginator: function() {
            $('#' + this.cache.wrapperId).bootstrapPaginator(this.cache);
        }
    };

    goodyBagPage.init();
</script>