<!--<link rel="stylesheet" href="/css/bg-game/modify.css">-->
<style>
    .modify {
        padding-bottom: 30px;
    }

    .modify-control {
        padding-left: 25px;
        margin-bottom: 25px;
    }

    .modify-data {
        width: 400px;
        padding: 0 25px;
        margin-top: 10px;
    }

    .form-control {
        margin: 10px 0;
    }

    .upload-image {
        width: 200px;
        height: auto;
        margin-top: 25px;
    }
</style>
<div class="modify panel">
    <ol class="breadcrumb">
        <li><a data-link="/game/index.htm?currentPage=1" href="javascript:void(0)">Game</a></li>
        <li><a data-link="/goodybag/index.htm?currentPage=1&gameid={{gameId}}" href="javascript:void(0)">GoodyBag</a></li>
        <li class="active">Modify</li>
    </ol>
    <div class="modify-control">
        <button id="ok" class="btn btn-primary">OK</button>
        <button id="cancel" class="btn btn-primary">Cancel</button>
    </div>
    <div class="modify-data">
        <form id="form" action="/">
            <input id="gameId" name="gameid" type="hidden" value="{{gameId}}">
            <input id="goodyBagId" name="goodybagid" type="hidden" value="{{id}}">
            <input id="name" class="form-control" type="text" name="name" placeholder="name" value="{{name}}">
            <textarea id="description" class="form-control" placeholder="description" name="desc" rows="4">{{description}}</textarea>
            <input id="upload" style="display: none" type="file" name="redeemkey">
            <button id="uploadProxyBtn" class="btn btn-info">upload redeem key additionally</button>
            <span id="uploadFileName" class=""></span>
        </form>
    </div>
</div>
<script>
    var modifyPageCache = {
        api: {
            modifyGame: '/api/goodybag'
        },
        linkUrl: {
            goGoodyBagIndex: '/goodybag/index.htm'
        }
    };

    var modifyPage = {
        init: function() {
            this.initData();
            this.initPage();
            this.initEvent();
            this.initComponent();
        },
        initData: function() {

        },
        initPage: function() {

        },
        initEvent: function() {
            this.addClickUploadBtnEvent();
            this.addShowUploadImageEvent();
            this.addClickOkBtnEvent();
            this.addClickCancelBtnEvent();
        },
        initComponent: function() {
            breadcrumbCpn.init();
        },
        addClickUploadBtnEvent: function() {
            $('#uploadProxyBtn').click(function(event) {
                event.preventDefault();
                $('#upload').click();
            });
        },
        addShowUploadImageEvent: function() {
            $('#upload').change(function() {
                var file = this.files[0];
                if (file.type !== 'text/plain') {
                    toastr.warn('上传的文件必须是text文件！');
                    return false;
                }

                $('#uploadFileName').html(file.name);
            });
        },
        addClickOkBtnEvent: function() {
            $('#ok').click(function() {
                submitForm('patch', modifyPageCache.api.modifyGame, 'form', function() {
                    getHtml(modifyPageCache.linkUrl.goGoodyBagIndex + '?gameid=' + $('#gameId').val(), 'mainContent');
                });
            });
        },
        addClickCancelBtnEvent: function() {
            $('#cancel').click(function() {
                getHtml(modifyPageCache.linkUrl.goGoodyBagIndex + '?gameid=' + $('#gameId').val(), 'mainContent');
            });
        }
    };

    var breadcrumbCpn = {
        init: function() {
            this.initEvent();
        },
        initEvent: function() {
            $('#mainContent').off('click', '.breadcrumb').on('click', '.breadcrumb', function(event) {
                var linkUrl = $(event.target).attr('data-link');
                getHtml(linkUrl, 'mainContent');
            });
        }
    };

    modifyPage.init();
</script>