<link rel="stylesheet" href="/css/bg-game/index.css">
<div class="game panel">
    <ol class="breadcrumb">
        <li><a href="#">Game</a></li>
        <li class="active">New</li>
        <!--<li class="active">Data</li>-->
    </ol>
    <div class="game-control">
        <button id="new" class="btn btn-primary">New</button>
    </div>
    <div class="game-data">
        <div id="panelBody" class="panel-body">
            {{#if rows.length}}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>description</th>
                        <th>operate area</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.description}}</td>
                                <td>
                                    <a class="panel-operate-detail" data-id="{{this.id}}" href="javascript:void(0)">Detail</a>
                                    <a class="panel-operate-modify" data-id="{{this.id}}" href="javascript:void(0)">Modify</a>
                                    <a class="panel-operate-remove" data-id="{{this.id}}" href="javascript:void(0)">Remove</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>
    </div>
    <div class="game-pager">
        <input id="currentPage" type="hidden" value="{{currentPage}}" />
        <input id="totalPages" type="hidden" value="{{totalPages}}" />
        <input id="pageSize" type="hidden" value="{{pageSize}}" />
        <input id="numberOfPages" type="hidden" value="{{numberOfPages}}" />
        <div id="paging"></div>
    </div>
</div>
<script src="/scripts/bg-game/index.js"></script>