<style>
    .game {
        background: #fff;
    }

    .game-control {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #ddd;
        margin: 10px 25px 0;
    }

    .game-pager {
        margin-right: 24px;
        text-align: right;
    }
</style>
<div class="game panel">
    <ol class="breadcrumb">
        <li class="active">Game</li>
    </ol>
    <div class="game-control">
        <button id="new" class="btn btn-primary">New</button>
    </div>
    <div class="game-data">
        <div id="panelBody" class="panel-body">
            {{#if rows.length}}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>description</th>
                        <th>rank no</th>
                        <th>operate area</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.description}}</td>
                                <td>{{this.rankNo}}</td>
                                <td>
                                    <a class="panel-operate-detail" data-id="{{this.id}}" href="javascript:void(0)">Detail</a>
                                    <a class="panel-operate-modify" data-id="{{this.id}}" href="javascript:void(0)">Modify</a>
                                    <a class="panel-operate-remove" data-id="{{this.id}}" href="javascript:void(0)">Remove</a>
                                    <a class="panel-operate-goodybag" data-id="{{this.id}}" href="javascript:void(0)">GoodyBag</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>
    </div>
    <div class="game-pager">
        <input id="currentPage" type="hidden" value="{{currentPage}}" />
        <input id="totalPages" type="hidden" value="{{totalPages}}" />
        <input id="pageSize" type="hidden" value="{{pageSize}}" />
        <input id="numberOfPages" type="hidden" value="{{numberOfPages}}" />
        <div id="paging"></div>
    </div>
</div>
<script>
    var indexPageCache = {
        api: {
            deleteGame: '/api/game'
        },
        linkUrl: {
            goGame: '/game/index.htm',
            goGameNew: '/game/new.htm',
            goGameDetail: '/game/detail.htm',
            goGameModify: '/game/modify.htm',
            goGoodyBag: '/goodybag/index.htm'
        }
    };

    var indexPage = {
        init: function() {
            this.initData();
            this.initPage();
            this.initEvent();
            this.initComponent();
        },
        initData: function() {

        },
        initPage: function() {

        },
        initEvent: function() {
            this.addClickNewBtnEvent();
            this.addClickDetailBtnEvent();
            this.addClickModifyBtnEvent();
            this.addClickRemoveBtnEvent();
            this.addClickGoGoodyBagBtnEvent();
        },
        initComponent: function() {
            paginatorCpn.init({
                currentPage: $('#currentPage').val(),
                totalPages: $('#totalPages').val(),
                numberOfPages: $('#numberOfPages').val(),
                size:'normal',
                alignment:'right',
                wrapperId: 'paging',
                onPageClicked: function(event, originalEvent, type, page) {
                    getHtml(indexPageCache.linkUrl.goGame + '?currentPage=' + page, 'mainContent');
                }
            });
        },
        addClickNewBtnEvent: function() {
            $('#new').click(function() {
                getHtml(indexPageCache.linkUrl.goGameNew, 'mainContent');
            });
        },
        addClickDetailBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-detail').on('click', '.panel-operate-detail', function() {
                var id = $(this).attr('data-id');
                getHtml(indexPageCache.linkUrl.goGameDetail + '?id=' + id, 'mainContent');
            });
        },
        addClickModifyBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-modify').on('click', '.panel-operate-modify', function() {
                var id = $(this).attr('data-id');
                getHtml(indexPageCache.linkUrl.goGameModify + '?id=' + id, 'mainContent');
            });
        },
        addClickRemoveBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-remove').on('click', '.panel-operate-remove', function() {
                var bool = confirm('确定要删除？');
                var id = $(this).attr('data-id');

                if (bool) {
                    getJson({
                        type: 'delete',
                        url: indexPageCache.api.deleteGame + '/' + id,
                        done: function(data) {
                            if (data.success) {
                                toastr.success('删除成功！');
                                getHtml(indexPageCache.linkUrl.goGame, 'mainContent');
                            } else {
                                toastr.error('删除失败！');
                            }
                        }
                    });
                }
            });
        },
        addClickGoGoodyBagBtnEvent: function() {
            $('#panelBody').off('click', '.panel-operate-goodybag').on('click', '.panel-operate-goodybag', function() {
                var id = $(this).attr('data-id');
                getHtml(indexPageCache.linkUrl.goGoodyBag + '?gameid=' + id, 'mainContent');
            });
        }
    };

    var paginatorCpn = {
        cache: null,
        init: function(option) {
            this.initData(option);
            this.initPage();
            this.initEvent();
        },
        initData: function(option) {
            this.storeCache(option);
        },
        initPage: function() {
            this.renderPaginator();
        },
        initEvent: function() {

        },
        storeCache: function(option) {
            this.cache = option;
        },
        renderPaginator: function() {
            $('#' + this.cache.wrapperId).bootstrapPaginator(this.cache);
        }
    };

    indexPage.init();
</script>